@using KodlaTv.Entities
@using KodlaTv.WebApp
@model IEnumerable<Follow>
@{
    ViewBag.Title = "Takip Edenler";
}

<section id="main-info" class="container">
    <div>
        <div class="row">
            @foreach (Follow follow in Model)
            {
                <div class="col-md-2">
                    <a href="/Channel/UserChannel/@follow.Owner.id"><img src="~/Images/@follow.Owner.Imagefile" class="img-responsive" style="width:128px;height:128px;" /></a>
                    <br />
                    <b>@follow.Owner.Username</b>
                </div>
            }
        </div>
    </div>
</section>