
@using KodlaTv.WebApp
@using KodlaTv.Entities
@{
    IEnumerable<Video> vidmobil = null;
    vidmobil = Session["MobilBölümü"] as IEnumerable<Video>;
}
<section id="main-info" class="container">
    <div>
        <a href="/Video/ListAllMobil"> <h2 style="text-align: center; color: black;text-shadow:1px 1px white"> Mobil Platfromunda Önerilen Yayınlar </h2></a>

        <div class="row">
            @foreach (Video videomobil in vidmobil.Take(6))
            {
                <div class="col-sm-2 wow fadeIn" data-wow-delay="0.4s">
                    <hr class="line purple">
                    <iframe type="text/html" width="168" height="100" src="@videomobil.Youtubeurl" frameborder="0"></iframe>
                    <a href="/Channel/Userchannel/@videomobil.Channel.Owner.id" style="position:absolute; top:0; left:0; display:inline-block; width:168px; height:100px; z-index:5;"></a>

                    @if (string.IsNullOrEmpty(videomobil.Videoinfo) == false && videomobil.Videoinfo.Length > 27)
                    {
                        <h4 style="text-shadow:1px 1px white">@(videomobil.Videoinfo.Substring(0, 27) + "...")</h4>
                    }
                    else
                    {
                        <h4 style="text-shadow:1px 1px white">@videomobil.Videoinfo</h4>
                    }
                    <p style="font-weight: bold;text-shadow:1px 1px white">izleyici sayısı:@videomobil.Watchnumber</p>
                </div>
            }
        </div>
    </div>
</section>

