  <!-- /.container -->
    <div class="container">
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-4 text-center">
                    <h5>
                        <strong>
                            Site Haritası
                        </strong>
                    </h5>
                    <hr />
                    <p>
                        <a href="/Home/About">
                            <span class="glyphicon glyphicon-info-sign"></span> Hakkımızda
                        </a><br />
                        <a href="/Video/AllList">
                            <span class="glyphicon glyphicon-star"></span> Videolar
                        </a><br />
                        <a href="/Video/PopularBroadcast">
                            <span class="glyphicon glyphicon-th-list"></span> Popüler Yayınlar
                        </a>
                    </p>
                </div>

                <div class="col-lg-4 text-center">
                    <h5>
                        <strong>
                            Kodla TV<br />
                        </strong>
                    </h5>
                    <hr />
                    <p>Tüm Hakları Saklıdır &copy;<br /> KODLA TV @DateTime.Now.Year</p>
                </div>

                <div class="col-lg-4 text-center">
                    <h5>
                        <strong>
                            E-Bülten Üyeliği<br />
                        </strong>
                    </h5>
                    <hr />
                    <div class="col-md-10 col-md-offset-1 ">
                        <p>
                            Kodla Tv E-Bülten Aboneliği için Email Adresinizi Giriniz..
                        </p>
                        <div class="input-group">
                            <input type="text" placeholder="E-posta Adresiniz" class="form-control" />
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-send"></span> Gönder
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- /.container -->
