@using KodlaTv.Entities.ValueObjects
@model PasswordChangeModel
@{
    ViewBag.Title = "Şifremi Değiştir.";
}

<link href="~/Content/login-register.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    <div class="container">
        <div class="row main">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <h1 class="title">KODLA TV</h1>
                    <hr />
                </div>
            </div>
            <div class="main-login main-center">
                <form class="form-horizontal" method="post" action="#">
                    @Html.ValidationSummary(false)
                            @Html.HiddenFor(model => model.PasswordGuid)
                            <div class="form-group">
                                <label for="password" class="cols-sm-2 control-label">Şifre</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = "Yeni Şifreniz", type = "password" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="confirm" class="cols-sm-2 control-label">Şifre Tekrar</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                        @Html.TextBoxFor(model => model.RePassword, new { @class = "form-control", placeholder = "Yeni Şifreniz Tekrar", type = "password" })
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Gönder</button>

                </form>
            </div>
        </div>
    </div>
}
