@using KodlaTv.Entities.ValueObjects
@model PasswordViewModel
@{
    ViewBag.Title = "Şifremi Unuttum";
}
<link href="~/Content/login-register.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    <div class="container">
        <div class="row main">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <h1 class="title">KODLA TV</h1>
                    <hr />
                </div>
            </div>
            <div class="main-login main-center">
                <form class="form-horizontal" method="post" action="#">
                    @Html.ValidationSummary(false)
                            <div class="form-group">
                                <label for="email" class="cols-sm-2 control-label">E-Mail</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email Adresiniz" })
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Gönder</button>
                </form>
            </div>
        </div>
    </div>
}
